* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  margin-top: 15pc;
  background-image: url("cloud_gif.gif");
}

.ground {
  width: 500px;
  height: 10px;
  border: 1px solid black;
  margin: auto;
  background-color: #964b00;
}

#character {
  position: relative;
  top: 150px;
  /* margin-left: 80px; */
  margin-top: 11px;
  margin-bottom: 0pc;
}
.animate {
  animation: jump 0.3s linear;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 70px;
  }
  50% {
    top: 50px;
  }
  70% {
    top: 70px;
  }
  100% {
    top: 150px;
  }
}

#block {
  position: relative;
  top: 151px;
  margin-left: -40px;

  animation: block 2s infinite linear;
}
@keyframes block {
  0% {
    left: 500px;
  }
  100% {
    left: -20px;
  }
}
p {
  text-align: center;
}
